.container {
    background: var(--blanco);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--sombra-cuadro);
    text-align: center;
}

h1 {
    color: var(--celeste-oscuro);
    font-size: 24px;
}

p {
    font-size: 16px;
    color: var(--celeste-oscuro);
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--celeste-claro);
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

button {
    background: var(--celeste-oscuro);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

button:hover {
    background: var(--celeste-claro);
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--celeste-oscuro);
}

a:hover {
    color: var(--celeste-claro);
}
