<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<div class="grid-container">
    {{#each tareas}}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {{idTarea}} <a href="/tareas/edit/{{_id}}" class="edit-icon">âœ</a>
                </h4>
                <form action="/tareas/delete/{{_id}}?_method=DELETE" method="POST">
                    <button type="submit" class="cancel-btn">Eliminar</button>
                </form>
            </div>
        </div>
    {{/each}}
</div>

