
<head>
    <title>Esperando Escaneo - Coke Kronos</title>
    <link rel="stylesheet" href="/css/espera.css">
</head>


<!-- Contenedor principal para la pantalla de espera del escaneo -->
<div class="scan-waiting-container">
    <h1>Esperando Escaneo</h1>

    <p id="selectedTask">Cargando...</p> <!-- Muestra la tarea seleccionada -->

    <div class="loader"></div> <!-- Indicador visual de carga -->

    <button class="cancel-btn" id="cancelBtn">Cancelar</button> <!-- Botón para cancelar la espera del escaneo -->
</div>

<!-- Script que maneja la funcionalidad de la pantalla de espera -->
<script src="/javascript/espera.js"></script>


