
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de Carga</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/resumen_carga_camion.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- Estilo en línea para modificar el p con id 'usuarioActual' -->
    <style>
      #usuarioActual {
        font-size: 1.5em; /* Aumenta el tamaño del texto */
        font-weight: bold; /* Pone el texto en negrita */
      }
    </style>

</head>

<script>
  // Se agrega un "event listener" para esperar a que el contenido del DOM se haya cargado completamente
  document.addEventListener('DOMContentLoaded', function() {
      // Se obtiene el objeto 'usuarioActual' del localStorage y se parsea desde JSON a un objeto JavaScript
      const usuario = JSON.parse(localStorage.getItem('usuarioActual'));
      
      // Si el objeto 'usuario' existe en el localStorage (es decir, no es null ni undefined)
      if (usuario) {
        // Se actualiza el contenido del elemento con el id 'usuarioActual' con el nombre del usuario
        document.getElementById('usuarioActual').textContent = usuario.name;
      }
  });
</script>

<!-- Contenedor principal para la pantalla de resumen de carga -->
<div class="container">
    <h1>Resumen de Carga</h1>
    <p>Estos son los pallets que han sido cargados al camión.</p><!-- Descripción de la función de la pantalla -->

    <!-- Lista donde se mostrarán los pallets que han sido cargados -->
    <ul id="resumenList"></ul>

    <!-- Botón para confirmar la carga realizada -->
    <button id="confirmarCarga">Confirmar Carga</button>

    <!-- Se define un elemento p con un id 'usuarioActual' -->
    <p id="usuarioActual"></p>

    <!-- Mensaje de confirmación o error tras la acción del usuario -->
    <p id="mensaje"></p>

    <!-- Enlace para regresar a la pantalla anterior -->
    <a href="/tareas/espera">Volver</a>
</div>

<!-- Script que maneja la funcionalidad de la pantalla de resumen de carga -->
<script src="/javascript/resumenCargaCamion.js"></script>

