
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Coke Kronos</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/espera.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>


<!-- Contenedor principal del login -->
<div class="login-container">
    <h2>Ingrese sus Datos</h2>
    <div class="login-card">

        <!-- Formulario de inicio de sesión -->
        <form id="loginForm" action="/users/signin" method="POST">

            <!-- Grupo de input para el usuario -->
            <div class="input-group">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>

            <!-- Grupo de input para la contraseña -->
            <div class="input-group">
                <input type="password" class="form-control" name="password" placeholder="Contraseña">
            </div>

            <!-- Botón de envío del formulario -->
            <button class="btn btn-primary btn-block">
                        Iniciar Sesión                       
            </button>

            <!-- Mensaje de error que se mostrará si la validación falla -->
            <!--<p id="errorMessage" class="error-message"></p>-->

            <!-- Enlace para recuperación de contraseña -->
            <p><a href="/users/olvido" class="forgot-password">¿Olvidaste tu contraseña?</a></p>
        </form>
    </div>
</div>

<footer class="footer">
    <div class="dropdown">
        <button class="dropdown-btn" onclick="toggleDropdown()">Opciones de desarrollo</button>
        <div class="dropdown-content" id="dropdownMenu">
            <a href="/tareas/add">Escanear Ticket</a>
            <a href="/tareass">Ver Tickets Escaneados</a>
            <a href="/">volver a login Fake</a>
            <a href="/users/signin">login Real</a>
            <a href="/users/signup">Registrar usuario Real</a>
        </div>
    </div>
</footer>

<script>
    function toggleDropdown() {
        var dropdown = document.getElementById("dropdownMenu");
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
        } else {
            dropdown.style.display = "block";
        }
    }
    
    // Cerrar el menú si se hace clic fuera de él
    window.onclick = function(event) {
        if (!event.target.matches('.dropdown-btn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.style.display === "block") {
                    openDropdown.style.display = "none";
                }
            }
        }
    }
</script>

<!-- Enlace al script de validación y manejo de login -->
<!--<script src="/javascript/login.js"></script> -->

