<div class="jumbotron mt-4">
    <h1 class="display-8">Proyecto coke-KRONOS</h1>
    <p class="lead">Nuestro Software de Gestión de Operaciones Grúa Horquilla está diseñado para optimizar y automatizar el registro de las operaciones realizadas por los operadores de grúas horquilla en el entorno logístico con el objetivo de mejorar el control, la productividad, la eficiencia y visibilidad de las operaciones.</p>
    <hr class="my-4">

</div>