/*Estilos del contenedor principal*/
.container {
    background: var(--blanco);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--sombra-cuadro);
    text-align: center;
}

/*Estilos del título h1 y el texto p*/
h1 {
    color: var(--celeste-oscuro);
    font-size: 22px;
}

p {
    font-size: 14px;
    color: var(--celeste-oscuro);
}

/*Estilos del campo de entrada*/
input {
    box-sizing: border-box;
    width: 80%;
    padding: 8px;
    border: 1px solid var(--celeste-claro);
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

/*Estilos del botón terminar tarea*/
button {
    background: var(--celeste-oscuro);
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 80%;
}

button:hover {
    background: var(--celeste-claro);
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}

/*Estilos del enlace al presionar cancelar*/
a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--celeste-oscuro);
}

a:hover {
    color: var(--celeste-claro);
}

.user-info {
    font-size: 16px;
    font-weight: bold;
    color: var(--celeste-oscuro);
    margin-bottom: 10px;
    margin-top: 20px;
}