/*Estilos del contenedor principal*/
.container {
    background: var(--blanco);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--sombra-cuadro);
    text-align: center;
}

/*Estilos del título h1 y párrafo p*/
h1 {
    color: var(--celeste-oscuro);
    font-size: 24px;
}

p {
    font-size: 16px;
    color: var(--celeste-oscuro);
}

/*Estilos del botón confirmar*/
button {
    background: var(--celeste-oscuro);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

button:hover {
    background: var(--celeste-claro);
}

/*Estilos del mensaje de confirmación*/
#mensaje {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: green;
}
