<footer class="footer">
    <!-- Contenedor para el menú desplegable -->
    <div class="dropdown">
        <!-- Botón que activa la función toggleDropdown para mostrar/ocultar el menú -->
        <button class="dropdown-btn" onclick="toggleDropdown()">Opciones de desarrollo</button>

        <!-- Contenido del menú desplegable, oculto por defecto -->
        <div class="dropdown-content" id="dropdownMenu">
            <a href="/">Volver a login</a> <!-- Enlace para volver al login -->
            <a href="/users/signup">Registrar usuario </a> <!-- Enlace para registrar un nuevo usuario -->
            <a href="/tareas/seleccion">Seleccionar una tarea</a> <!-- Enlace a la vista de selección de tareas -->
            <a href="/admin/inicio">Vista Administración Inicio</a> <!-- Enlace al panel de administración -->
        </div>
    </div>
</footer>
