<footer class="footer">
    <div class="dropdown">
        <button class="dropdown-btn" onclick="toggleDropdown()">Opciones de desarrollo</button>
        <div class="dropdown-content" id="dropdownMenu">
            <!-- <a href="/tareas/add">Escanear Ticket</a> -->
            <!-- <a href="/tareass">Ver Tickets Escaneados</a> -->
            <a href="/">Volver a login</a>
            <!-- <a href="/users/signin">login test</a> -->
            <a href="/users/signup">Registrar usuario </a>
            <a href="/tareas/seleccion">Seleccionar una tarea</a>
        </div>
    </div>
</footer>