<nav class="navbar navbar-expand-lg" style="background-color: #FE001A;">
    <div class="container">
        <a class="navbar-brand text-white" href="/" style="font-family: 'Spencerian Script', bold; font-size: 36px;">coke-KRONOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/about">About</a>
                </li>
                
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Registrarse</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{!-- --}}