<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

        #usuarioActual {

            font-size: 20px; /*CAMBIO AQUÍ*/

            color: var(--celeste-oscuro);

            position: fixed;

            top: 80px;

            left: 50%;

            transform: translateX(-50%);

            text-align: center;

        }
</style>
</head>
 
<script>
  // Se agrega un "event listener" para esperar a que el contenido del DOM se haya cargado completamente
  document.addEventListener('DOMContentLoaded', function() {
      // Se obtiene el objeto 'usuarioActual' del localStorage y se parsea desde JSON a un objeto JavaScript
      const usuario = JSON.parse(localStorage.getItem('usuarioActual'));
      
      // Si el objeto 'usuario' existe en el localStorage (es decir, no es null ni undefined)
      if (usuario) {
        // Se actualiza el contenido del elemento con el id 'usuarioActual' con el nombre del usuario
        document.getElementById('usuarioActual').textContent = usuario.name;
      }
  });
</script>

<body>
  <!-- Se define un elemento h1 con un id 'usuarioActual' que inicialmente muestra "Cargando..." -->
  <p id="usuarioActual"></p>
</body>
