<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/selecciontarea.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>

<div class="task-container">
    <h2>Bienvenido</h2>

    <!-- Botón que redirige al registro -->
    <button class="task-btn" onclick="window.location.href='/users/signup'">
      Registrar usuario
    </button>
</div>

</body>
