<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coke_KRONOS</title>
    <!-- Cargar CSS Principal -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Cargar CSS Específico para Login -->
    <link rel="stylesheet" href="css/login.css">
    <!-- Cargar CSS ventana espera -->
    <link rel="stylesheet" href="css/espera.css">
    <!-- Cargar CSS ventana seleccion tarea -->
    <link rel="stylesheet" href="css/seleccionTarea.css">
    <!-- Cargar CSS footer -->
    <link rel="stylesheet" href="css/footer.css">
    <!--FONT AWESOME para los iconos -->
    <link href="https://cdn.jsdelivr.net/npm/fontawesome-4.7@4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<!--Carga de partials-->
<body>
    {{>messages}} <!--Partial para las alertas-->
    {{>errors}}<!--Partial para las alertas-->
    {{{body}}}<!--Contenido de las vistas-->
    {{>footer}}<!--Partial para el footer-->
</body>



<!-- Script para manejar menú desplegable -->
<script>
    function toggleDropdown() {
        var dropdown = document.getElementById("dropdownMenu");
        // Alternar visibilidad del menú desplegable
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
        } else {
            dropdown.style.display = "block";
        }
    }
    
    // Cerrar el menú si se hace clic fuera de él
    window.onclick = function(event) {
        // Verificar si el clic fue fuera del botón del dropdown
        if (!event.target.matches('.dropdown-btn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                // Ocultar el menú si está visible
                if (openDropdown.style.display === "block") {
                    openDropdown.style.display = "none";
                }
            }
        }
    }
</script>
</html>