<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirigiendo...</title>
</head>

<body>
    <script>
        // Guardamos en Local Storage
        const usuarioActual = {
            name: "{{name}}",
            email: "{{email}}",
            id: "{{id}}", // Aquí agregamos el ObjectId
            rol: "{{rol}}"
            
        };
        localStorage.setItem('usuarioActual', JSON.stringify(usuarioActual));

        //Obtenemos el rol
        const rol = usuarioActual.rol;

        // Redirigimos según el rol
        if (rol === "administrador" || rol === "jefeDeTurno") {
            window.location.href = "/admin/inicio";
        } else if (rol === "copiloto") {
            window.location.href = "/apoderado/inicio";
        } else if (rol === "apoderado") {
            window.location.href = "/apoderado/inicio";
        } else {
            window.location.href = "/"; 
        }

        
    </script>
</body>
